@font-face {
  font-family: Agrandir-Regular;
  src: url(Agrandir-Regular.otf);
}
.BlueBackground {
  background-color: #1a48a7;
}
.lightBlueBackground {
  background-color: #3264c8;
}
.forestGreenBackground {
  background-color: #228b22;
}
.lightGreenBackground {
  background-color: #aefc9f;
}
.darkBlueBackground {
  background-color: #0e3175;
}

.BlueText {
  color: rgb(26, 72, 167);
}
.lightBlueText {
  color: rgb(50, 100, 200);
}
.forestGreenText {
  color: forestgreen;
}
.lightGreenText {
  color: rgb(174, 252, 159);
}
.darkBlueText {
  color: #0e3175;
}

.underlineText {
  text-decoration: underline;
}

.normalText {
  text-decoration: none;
}

.noDots {
  list-style: none;
}

body {
  font-family: Agrandir;
}

header {
  border-radius: 10px, 10px, 10px, 10px;
}

header nav {
  margin-top: 0;
  text-align: center;
  font-size: 30px;
  display: block;
}

header nav {
  padding-left: 10px;
  padding-right: 10px;
}

header nav a,
header nav a:active {
  color: rgb(174, 252, 159);
}

header nav a:hover {
  color: forestgreen;
  background-color: #0e3175;
}

header h1 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-bottom: 0;
  margin-bottom: 0;
  font-size: 4em;
}

header img {
  float: left;
}

body main table,
body main table th,
body main td {
  border: 0.2em solid black;
  border-collapse: collapse;
}

body main div table {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

body main table {
  width: 50%;
}

body main h2 {
  font-size: 45px;
  text-align: center;
}

body main p {
  font-size: 30px;
}

body main form {
  background-color: #1a48a7;
}

body main a,
body main a:active {
  color: rgb(174, 252, 159);
  background-color: #1a48a7;
  padding: 15px;
  border-radius: 5px, 5px, 5px, 5px;
  border: #1a48a7;
  border-width: 15em;
}
body main a:hover {
  color: forestgreen;
  background-color: #0e3175;
}

body main div div {
  border: black;
  border-style: solid;
  border-width: 3px;
  border-radius: 3px;
}

footer {
  text-align: center;
}
